@Styles.Render("~/Styles/theme/band")
@Styles.Render("~/Styles/skin/band")

<footer id="footer" class="bg-secondary border-0 mt-0">
    <section class="section bg-secondary border-0 py-0 m-0">
        <div class="row custom-borders-divider-style-1">
            <div class="col-sm-6 col-lg-3 text-center px-0">
                <a href="javascript:void(0)" class="custom-spotify-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" data-appear-animation="fadeInRightShorter"><i class="fab fa-node mr-1 fa-3x"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 text-center px-0">
                <a href="javascript:void(0)" class="custom-database-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"><i class="fas fa-database mr-1 fa-3x"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 text-center px-0">
                <a href="javascript:void(0)" class="custom-html-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400"><i class="fab fa-html5 mr-1 fa-3x"></i></a>
            </div>
            <div class="col-sm-6 col-lg-3 text-center px-0">
                <a href="javascript:void(0)" class="custom-css-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600"><i class="fab fa-css3-alt mr-1 fa-3x"></i></a>
            </div>
        </div>
    </section>

    <section class="section bg-secondary border-0 py-0 m-0">
        <div class="row custom-borders-divider-style-1">
            <div class="col-sm-6 col-lg-4 text-center px-0">
                <a href="https://github.com/ArdanucAKAR" class="custom-ardanuc-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" target="_blank" data-appear-animation="fadeInRightShorter"><i class="fab fa-phoenix-framework mr-1"></i> ARDANUC AKAR</a>
            </div>
            <div class="col-sm-6 col-lg-4 text-center px-0">
                <a href="https://github.com/volkankahraman" class="custom-itunes-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" target="_blank" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"><i class="fas fa-code mr-1"></i> VOLKAN KAHRAMAN</a>
            </div>
            <div class="col-sm-6 col-lg-4 text-center px-0">
                <a href="https://github.com/ulasgokce" class="custom-amazon-hover-effect text-decoration-none text-color-light text-4 d-block py-2 appear-animation" target="_blank" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400"><i class="fas fa-cannabis mr-1"></i> ULAŞ GÖKÇE</a>
            </div>
        </div>
    </section>

    <div class="footer-copyright bg-tertiary py-2">
        <div class="container-fluid py-4 px-5">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="text-color-light font-weight-light opacity-4 mb-0">© Copyright 2019. All Rights Reserved.</p>
                </div>
                <div class="col-auto">
                    <ul class="list list-inline list-unstyled mb-0">
                        <li class="list-inline-item mr-0 mb-0"><a href="https://www.instagram.com/" class="text-white custom-instagram-hover-effect font-weight-bold" target="_blank"><i class="fab fa-instagram mr-1"></i> INSTAGRAM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>