@model Book_Addict.User

<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-nav-features-dropdown-force-right" id="headerTopUserDropdown">
    <div class="row">
        <div class="col-8">
            <p class="mb-0 pb-0 text-2 line-height-1 pt-1">Merhaba,</p>
            <p><strong class="text-color-dark text-4">@Html.Label(Model.Fullname)</strong></p>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <img class="rounded-circle" width="40" height="40" alt="" src="~/asset/img/avatars/avatar.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-list-simple flex-column text-3">
                <li class="nav-item">
                    @Html.ActionLink("Profilim", "Detail", "User", new { id = Model.ID }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Çıkış Yap", "Logout", "User", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</div>