@model Book_Addict.Author

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
}
@section Scripts {
}


<h2>Detail</h2>
<div>@Html.Label(Model.Fullname)</div>

